articles/
mendeley/
bibliography/

*.pdf
*.pdf_tex
*.png

.dropbox

myThesis.aux
myThesis.bbl
myThesis.blg
myThesis.idx
myThesis.ilg
myThesis.ind
myThesis.lof
myThesis.log
myThesis.lot
myThesis.maf
myThesis.mtc*
myThesis.out
myThesis.toc