articles/
cover/
data/

*.pdf
*.pdf_tex
*.png

.dropbox

mythesis.aux
mythesis.bbl
mythesis.blg
mythesis.idx
mythesis.ilg
mythesis.ind
mythesis.lof
mythesis.log
mythesis.lot
mythesis.maf
mythesis.mtc*
mythesis.out
mythesis.toc

01-introduction.tex
02-methods.tex
03-results.tex
04-results.tex
05-discussion.tex
06-conclusions.tex
07-appendices.tex
abstract.tex
acknowledgements.tex
acronyms.tex
colophon.tex
dedicatory.tex
glossary.tex
logos.tex
nomenclature.tex
publications.tex
title.tex