articles/
cover/
data/

*.pdf
*.pdf_tex
*.png

.dropbox

mythesis.aux
mythesis.bbl
mythesis.blg
mythesis.idx
mythesis.ilg
mythesis.ind
mythesis.lof
mythesis.log
mythesis.lot
mythesis.maf
mythesis.mtc*
mythesis.out
mythesis.toc

tex/01-introduction.tex
tex/02-methods.tex
tex/03-results.tex
tex/04-results.tex
tex/05-discussion.tex
tex/06-conclusions.tex
tex/07-appendices.tex
tex/acknowledgements.tex
tex/colophon.tex